.navbar{
  background-color: purple;
  font-family:calibri;
  color: white;
}
#button-bar {
    width: 50%;
    height: 50%;
    padding-left: 200px;
    padding-top: 100px;
}
#about{
  background-image: url(https://imgur.com/NpkRamO.jpg);
  background-size: 100% 100%;
  font-size: 24px;
  color: white;
  font-family:calibri;
}
#portfolio{
  font-family: calibri;
}
#contact{
  background-image: url(https://imgur.com/NpkRamO.jpg);
  background-size: 100% 100%;
  font-size: 24px;
  color: white;
  font-family:calibri;
}
button.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }